@charset "UTF-8";

/* 아이템 모듈 CSS - items.css */

@import url('https://webfontworld.github.io/NanumBarunGothic/NanumBarunGothic.css');


/***** 전체 섹션 *****/
.itemList{
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(5,279px);
  gap: 40px 30px;
  padding: 50px 20px 20px;
}
/*** 각 아이템 ***/
.item{
  display: flex;
  flex-direction: column;
  /* width: 100%; */
  height: 100%;
  width: 279px;
}
/** 아이템 이미지 **/
.itemImg{
  width: 279px;
  height: 265px;
  border-radius: 5%;
  overflow: hidden;
}

.itemImg>img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/** 아이템 타이틀 **/
.itemTit{
  font-family: 'NanumBarunGothic';
  width: 100%;
  height: 100px;
}
.itemTit>ul{
  display: flex;
  flex-direction: column;
}
.iname{
  font-weight: bold;
  padding-top: 10px;
  width: 100%;
}
.iloca{
  padding-top: 5px;
  width: 100%;
}


/* 아이템 리스트 미디어쿼리 */
@media screen and (max-width: 1300px){
  .itemList{
    grid-template-columns: repeat(4,279px);
  }
} 
/* 1300사이즈 이하 미디어쿼리 끝 */

@media screen and (max-width: 1000px){
  .itemList{
    grid-template-columns: repeat(3,279px);
  }
} 
/* 1000사이즈 이하 미디어쿼리 끝 */

@media screen and (max-width: 800px){
  .itemList{
    grid-template-columns: repeat(2,279px);
  }
} 
/* 800사이즈 이하 미디어쿼리 끝 */

@media screen and (max-width: 500px){
  .itemList{
    grid-template-columns: repeat(1,279px);
  }
} 
/* 500사이즈 이하 미디어쿼리 끝 */