@charset "UTF-8";

/* 공용 모듈 CSS - common.css */



/* 공사중 표시 */
body * {
  /* outline: 1px dashed red; */
}
/* 햄버거버튼 토글시 스크롤 방지 */
html{
  overflow: auto;
}
html.on{
  overflow: hidden;
}

/*********************** 1. 상단영역 ***********************/
.ibx{
  max-width: 1900px;
}
/* 상단전체겉박스 */
#top{
  position: relative;
  z-index: 2;
}
/* 상단전체속박스 */
.top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
/* 로고박스 */
.logo {
  background-color: #fff;
  text-align: center;
  padding: 20px 0 20px;
  box-shadow: 0 2px 4px #afadad65;
}
.logo img {
  height: 75px;
}
/* GNB영역 */

.gnb>ul {
  display: flex;
  justify-content: center;
  gap: 0 45px;
  transition: background-color  .4s;
}
.gnb>ul>li{
  /* li에 클래스 "on"시 부모자격 */
  position: relative;
  padding: 7px 0;
}

/* GNB li에 클래스 "on"주기 
js로 마우스 오버시 */
.gnb>ul>li.on::before{
  content: '';
  position: absolute;
  bottom: 24%;
  width: 0;
  height: 1px;
  background-color: rgb(0, 0, 0);
  z-index: 9999;

  /* 애니메이션 */
  animation: li_on .25s linear forwards;
}
@keyframes li_on {
  to{
    width: 100%;
  }
} /* li_on 키프레임 */

/* GNB li에 클래스 "on2" 주기 
js로 마우스 아웃시 */
.gnb>ul>li.on2::before{
  content: '';
  position: absolute;
  right: 0;
  bottom: 24%;
  width: 100%;
  height: 1px;
  background-color: rgb(0, 0, 0);
  z-index: 9999;

  /* 애니메이션 */
  animation: li_on2 .25s linear forwards;
}
@keyframes li_on2 {
  to{
    width: 0%;
  }
} /* li_on2 키프레임 */

.gnb>ul>li>a{
  font-size: 1.5rem;
  color: #fff;
  text-shadow: 1px 1px 1px #262626;
  /* font-family: "Open Sans", sans-serif; */
}
.gnb:hover ul{
  background-color: #fff;
  box-shadow: 0 2px 4px #afadad65;
} 
.gnb:hover ul>li>a{
  text-shadow: 1px 1px  rgb(209, 209, 209);
  color: rgb(0, 0, 0);
  transition: .2s;
} 

.gnb>ul>li:nth-child(2){
  position: relative;
  /* .smenu 부모자격 */
}

/* GNB밑 서브메뉴 */
.smenu{
  position: absolute;
  width: 80px;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  /* z-index: 999; */

  /* 숨기기장치 */
  height: 0;
  opacity: 0;
  overflow: hidden;
  /* 트랜지션 */
  transition:  .4s ease-in-out;
  box-shadow: -2px 2px 2px  #afadad65,2px 2px 2px  #afadad65;
}
.smenu ol{
  text-align: center;
}

.smenu>ol>a{
  line-height: 26px;
  font-size: 1.3rem;
  color: rgb(58, 58, 58);
}
.smenu li:hover {
  background-color: #e4e4e492;
}

/* 상단 탑메뉴 아이콘 박스 */
.tmenu{
  /* 원하는 요소에 max-width값을 주려면 
  부모요소에 max-width를 주고 마영오를 해야한다 
  포지션을 줘야 마영오나 크기값이 먹는다!! */
  position: relative;
  max-width: 1300px;
  margin: 0 auto;
  /* outline: 1px solid red; */
}
.tmenu ul{
  position: absolute;
  top: 3vh;
  right: 5vh;
  /* 플렉스박스 */
  display: flex;
  gap: 17px;
}
.tmenu a{
  font-size: 20px;
}
/* 햄버거 버튼 미디어쿼리 1200px에서 나옴 */
.tmenu ul .ham{
  position: fixed;
  top: 3.2vh;
  width: 20px;
  height: 20px;
  /* background-color: #000; */
  visibility: hidden;
  opacity: 0;
  cursor: pointer;
}
.ham span{
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #000;
  transition: .3s;
}
/* 햄버거 span 초기셋팅 */
.ham span:nth-child(1){
  top: 0px;
}
.ham span:nth-child(2){
  top: 7px;
}
.ham span:nth-child(3){
  top: 14px;
}
/* 햄버거 클래스 on 추가시 */
.ham.on span:nth-child(1){
  transform: rotate(45deg);
  top: 7px;
}
.ham.on span:nth-child(2){
  width: 0;
}
.ham.on span:nth-child(3){
  transform: rotate(-45deg);
  top: 7px;
}
.gnb_bx{
  /* visibility: hidden; */
}
/* 어카운트 박스 */
.account{
  visibility: hidden;
}



/*********************** 2. 메인영역 ***********************/
/* 메인 그리드영역 */
.gridbx {
  display: grid;
  max-width: 1200px;
  padding: 0 50px;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px 40px;
}
/* 스크롤 등장액션 클래스 */
.item{
  transform: translateY(20%);
  opacity: 0;
  transition: 0.4s ease-in-out;
}
/* 등장클래스+.on */
.item.on{
  transform: translateY(0);
  opacity: 1;
}
/* 스크롤 등장액션 클래스 */
.sitem{
  transform: translateY(20%);
  opacity: 0;
  transition: 0.4s ease-in-out;
}
/* 등장클래스+.on */
.sitem.on{
  transform: translateY(0);
  opacity: 1;
}

/* 이미지 공통속박스 */
.iimg {
  position: relative;
  aspect-ratio: 280 / 400;
} 
/* 아이템 공통 이미지 */
.iimg img {
  position: absolute;
  width: 100%;
  height: 100%;
  /* 처음에 display:none 을 줘 안보이게함 */
  /* display: none; */
  /* opacity: 0; */
  object-fit: cover;
  transition: opacity .3s;
}
/* 처음에 두번째이미지 숨기기 */
.iimg img:last-child{
  opacity: 0;
}

/* 이미지박스에 마우스 오버시 
두번째 이미지 보이기 */
.iimg:hover img:last-child{
  opacity: 1;
}

/* 처음에 display로 첫번째이미지 보이기 / 
이미지박스에 마우스 오버시 두번째 이미지 보이기 */
/* .iimg img:first-child,
.iimg:hover img:last-child {
  display: block;
} */
/* 이미지박스에 마우스 오버시 첫번째 이미지 숨기기 */
/* .iimg:hover img:first-child {
  display: none;
} */


/* 스타일 그리드영역 */
.grid_style {
  display: grid;
  max-width: 1200px;
  padding: 0 50px;
  margin: 0 auto;
  grid-template-columns: repeat(5, 1fr);
  gap: 30px 40px;
}
/* 스타일 이미지 */
.simg{
  position: relative;
  aspect-ratio: 230 / 350;
}
/* 스타일 공통이미지 */
.simg img{
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity .3s;
}
/* 처음에 두번째이미지 숨기기 */
.simg img:last-child{
  opacity: 0;
}
/* 이미지박스에 마우스 오버시 
두번째 이미지 보이기 */
.simg:hover img:last-child{
  opacity: 1;
}


/* 아이템 공통 텍스트겉박스 */
.itxt {
  margin: 4px 0;
  text-align: center;
}
/* 아이템 공통 시즌 설명 텍스트 */
.ssn {
  font-size: min(13px, 3vw);
  /* font-family: "Open Sans", sans-serif; */
}
/* 아이템 공통 이름 텍스트 */
.iname1 a {
  font-size: min(15px, 3vw);
  /* font-family: "Open Sans", sans-serif; */
}
/* 아이템 공통 가격 텍스트 */
.itxt span {
  font-size: min(12px, 3vw);
  /* font-family: "IBM Plex Sans KR", sans-serif; */
  color: #919191;
}

/* 메인 배너 블릿박스 */
.indic{
  position: absolute;
  display: flex;
  /* gap: 12px; */
  /* outline: 1px solid red; */
  bottom: 3%;
  left: 50%;
  transform: translateX(-50%);
  /* z-index: 2; */
}
.indic li{
  padding: 5px;
  cursor: pointer;
}
.bulit{
  position: relative;
  margin: 0 auto;
  background-color: rgb(166, 166, 166);
  width: 2px;
  height: 18px;
  cursor: pointer;
}
.bulit::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  background-color: rgb(255, 255, 255);
}
.bulit.on::before{
  animation: bltAni 4s linear forwards;
}
@keyframes bltAni {
  to{
    height: 100%;
  }
} /* 블릿 키프레임 */




/*********************** 3. 하단영역 ***********************/
.info {
  border-top: 1px solid #cacaca;
  /* background-color: rgb(105, 105, 105); */
  height: 230px;
}
.addbx {
  position: relative;
}
.addbx address {
  transform: translateY(84%);
  width: 100vw;
  height: 100%;
  text-align: center;
  font-size: 1.3rem;
  color: #c0c0c0;
  /* address요소 기본 이탤릭해제 */
  font-style: normal;
  /* font-family: "IBM Plex Sans KR", sans-serif; */
  line-height: 20px;
}
.blink {
  box-sizing: border-box;
  margin: 8px 0;
}
.blink a {
  margin: 0 12px;
  color: #c0c0c0;
}
.blogo {
  position: absolute;
  top: 20px;
  left: 25px;
}
.blogo img {
  height: 54px;
}
