@charset "UTF-8";

/* 메인페이지 CSS - main.css */

/* 외부CSS합치기 */
@import url(./common.css);
@import url(./core.css);

/****** 메인배경이미지 ******/
/* 배너 겉박스 */
.cont {
}
/* 배너 속박스 */
.fade_bx{
  min-height: 100vh;
  position: relative;
}
.fade_bx li {
  position: absolute;
  width: 100%;
  height: 100%;

  /* 처음에 투명 */
  opacity: 0;
  
  /* 트랜지션 */
  transition: opacity .6s ease-in-out;
}
/* 배너에 .on시 */
.fade_bx li.on{
  opacity: 1;
  /* z-index: 1; */
}
/* 배너 이미지 */
.fade_bx img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* 아이템 섹션 */
.item_section {
  margin-top: 60px;
  width: 100%;
}
.sub_tit {
  text-align: center;
  margin: 0 0 50px;
  font-size: 2.7rem;
  font-weight: lighter;
}
.button_bx{
  padding: 50px 0;
}
.more_bt{
  margin: 0 auto;
  outline: 1px solid #000;
  width: 85px;
  height: 55px;
  text-align: center;
  line-height: 55px;
  
  font-weight: lighter;
}
.more_bt>a{
  font-size: .9rem;
/* font-family: "Open Sans", sans-serif; */
}

/* 스타일 박스 타이틀 */
.style_tit{
  text-align: center;
  margin: 40px 0 50px;
  font-size: 2.7rem;
  font-weight: lighter;
}

.bx2 {
  /* background-color: #e4e4e4; */
}
/* 메인하단 배송설명박스 */
.c_info{
  padding: 50px 0 90px;
  /* font-family: 'IBM Plex Sans KR', sans-serif; */
  text-align: center;
}
.c_info01{
  font-size: 1.4rem;
}
.c_info02{
  font-size: 1.4rem;
}

