@charset "UTF-8";

/* 메인페이지 CSS - main.css */


/* 외부CSS합치기 */
@import url(./common.css);
@import url(./core.css);

/* 공사중 표시 */
body * {
  /* outline: 1px dashed red; */
}

/* 배인배경이미지 */
.cont{
  background: url(./images/main01.jpg) no-repeat
  center/cover;
  min-height: 100vh;
}
.bx1{
  height: 150px;
  background-color: #e4e4e4;
}

/********** 아이템박스별 이미지 **********/
.mg1{
  background-image: url(./images/pddcoat1.jpg);
}
.mg2{
  background-image: url(./images/balaclava1.jpg);
}
.mg3{
  background-image: url(./images/coat1.jpg);
}
.mg4{
  background-image: url(./images/boots1.jpg);
}
.mg5{
  background-image: url(./images/lightpufferB1.jpg);
}
.mg6{
  background-image: url(./images/lightpufferG1.jpg);
}
.mg7{
  background-image: url(./images/paddedvest1.jpg);
}
.mg8{
  background-image: url(./images/gloves1.jpg);
}
/********** 아이템박스별 이미지 **********/
.bx2{
  height: 100px;
  background-color: #e4e4e4;
}


