@charset "UTF-8";

/* 메인페이지 미디어쿼리 - media.css */

/* 1200px 사이즈 이하 미디어쿼리 시작 */
@media screen and (max-width:1200px) {
  .tmenu ul{
    display: none;
  }
  .ham{
    position: absolute;
    top: 2vw;
    right: 2vh;
    width: 40px;
    height: 40px;
    background-color: #000;
  }
} 
/* 1200px 사이즈 이하 미디어쿼리 끝 */

/* 1200px 사이즈 이하 미디어쿼리 시작 */
@media screen and (max-width:1200px) {
  
} 
/* 1200px 사이즈 이하 미디어쿼리 끝 */

/* 1200px 사이즈 이하 미디어쿼리 시작 */
@media screen and (max-width:1200px) {
  
} 
/* 1200px 사이즈 이하 미디어쿼리 끝 */

/* 1200px 사이즈 이하 미디어쿼리 시작 */
@media screen and (max-width:1200px) {
  
} 
/* 1200px 사이즈 이하 미디어쿼리 끝 */

/* 1200px 사이즈 이하 미디어쿼리 시작 */
@media screen and (max-width:1200px) {
  
} 
/* 1200px 사이즈 이하 미디어쿼리 끝 */