@charset "UTF-8";
/* 프라이탁 PJ 아이템 CSS - item.css  */

/* 외부 CSS 합치기 */
@import url(./core.css);
@import url(./common.css);

/*** 메인 아이템네비 ***/
.cont{
  max-width: 1200px;
}
.itemNav{
  font-size: 15px;
  font-weight: bold;
}
.itemNav>ol{
  display: flex;
  padding: 100px 0 0 50px;
}
/*** 아이템이름 ***/
.itemName{
  font-size: 60px;
  padding: 50px 0 0 50px;
  font-weight: bold;
}
.itemName>ol{
  display: flex;
  font-size: 30px;
}
.itemName>ol>li{
  padding-right: 30px;
}
/*** 그리드영역 ***/
.grid{
  display: grid;
  max-width: 1200px;
  grid-template-columns: repeat(5, 1fr);
  gap:25px 15px;
  margin: 0 auto;
  padding-top: 50px;
}
.item{
  width: 200px;
  height: 200px;
  transition: .4s;
}
.item:hover{
  transform: scale(1.1);
}
.item>a>img{
  width: 100%;
  height: 100%;
}