@charset "UTF-8";
/* 프라이탁 PJ 메인 CSS - main.css  */

/* 외부 CSS 합치기 */
@import url(./core.css);
@import url(./common.css);

/************************** 메인영역 **************************/

/* 메인배경 */

/* .cont{
  position: relative;
  overflow: hidden;
} */
.mainBg{
  height: 85vh;
}
.mainBg>img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* 메인 흘러가는 이미지 */
/* .floating{
  display: flex;
}
.floating img{
  width: 300px;
  height: 100px;
} */
.fparent{
  position: relative;
  height: 90px;
  /* background-color: red; */
}
.floating{
  position: absolute;
  /* 가로크기 스크린만큼 */
  /* width: 100%; */
  /* 넘치는 자식요소 숨기기 */
  display: flex;
}
/* 이동애니메이션 */
.floating ol{
  position: relative;
  left: 0;
  display: flex;

}


.floating img{
  width: 300px;
  height: 90px;
}
/* 흘러가는 이미지 키프레임 */
@keyframes floatimg {
  to{
    left: -100%;
  }
} /* 키프레임 */


/* 드래그 제목 */
.ftxt{
  margin: 50px;
}
.ftxt span{
  padding-left: 70px;
  font-size: 40px;
  font-weight: bold;
}
/* 드래그박스 */
#dragBx{
  position: relative;
  height: 300px;
  width: 100%;
  overflow: hidden;
  padding-bottom: 1500px;
}
/* 드래그박스 드래그 선택안되게 하기 */
.dragBag{
  user-select: none;
  /* 선택안되게 */
  -webkit-user-drag: none;
  /* 드래그안되게 */
  position: absolute;
  height: 100%;
}
.dragBag img{
  position: relative;
  width: 300px;
  height: 300px;
}
.dragBag > ul{
  display: flex;
}
.dragBag > ul li{
  position: relative;
  width: 300px;
  padding-right: 50px;
}
.dragBag ul li{
  text-align: center;
}
.dragBag li span{
  font-size: 21px;
  font-weight: bold;
}

