@charset "UTF-8";
/* 프라이탁 PJ 메인 CSS - main.css  */

/* 외부 CSS 합치기 */
@import url(./core.css);
@import url(./common.css);

/************************** 메인영역 **************************/
/* 메인배경 */
.mainBg>img{
  width: 100vw;
  height: 85vh;
  object-fit: cover;
}
/* 메인 흘러가는 이미지 */
.floating{
  display: flex;
}
.floating img{
  width: 300px;
  height: 100px;
}