@charset "UTF-8";

/* 공통영역 */

/* 전체 부드러운 스크롤 */
html{
  scroll-behavior: smooth;
}

body{
  /* 전체 가로스크롤 방지 */
  overflow-x: hidden;
}
html,body,h1,h2,h3,ul,ol{
  margin: 0;
  padding: 0;
}
ul,ol{
  list-style: none;
}
/* 공사중표시 */
body *{
  outline: 2px dotted red;
}
/************************ 상단영역 ************************/
#logo{
}
.logo{
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
}
.logo img{
  width: 75px;
}
.gnb{
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
}
.gnb ul{
  display: flex;
  justify-content: center;
}
.gnb li{
  padding: 0 30px;
}
/************************ 메인영역 ************************/
.cont{
  text-align: center;
  width: 100%;
}
/************************ 하단영역 ************************/